@import "tailwindcss";
@plugin "daisyui";

body {
    /* background-color: var(--color-neutral-900); */
    color: white;
    font-family: var(--font-display);
}

h2 {
    color: var(--color-primary);
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 16px;
}


@plugin "daisyui" {
    themes: forest --default, dark --prefersdark;
}







